In [1]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [4]:
!pip install requests
from bs4 import BeautifulSoup
import requests

Requirement already satisfied: requests in c:\users\rakesh\appdata\roaming\python\python313\site-packages (2.32.4)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\rakesh\appdata\roaming\python\python313\site-packages (from requests) (3.4.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\rakesh\appdata\roaming\python\python313\site-packages (from requests) (3.10)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\rakesh\appdata\roaming\python\python313\site-packages (from requests) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\rakesh\appdata\roaming\python\python313\site-packages (from requests) (2025.6.15)

In [5]:
!pip install html5lib

Requirement already satisfied: html5lib in c:\users\rakesh\anaconda3\lib\site-packages (1.1)
Requirement already satisfied: six>=1.9 in c:\users\rakesh\appdata\roaming\python\python313\site-packages (from html5lib) (1.17.0)
Requirement already satisfied: webencodings in c:\users\rakesh\appdata\roaming\python\python313\site-packages (from html5lib) (0.5.1)

In [6]:
data  = requests.get(url).text

In [7]:
soup = BeautifulSoup(data,"html5lib")

In [8]:
table = soup.find('table')
for row in table.find_all('tr'): 
    # Get all columns in each row.
    cols = row.find_all('td') 
    lang_name = cols[1].getText() 
    created_by=cols[2].getText()
    annual_avg_sal = cols[3].getText() 
    learning=cols[4].getText()
    print("{}--->{}--->{}--->{}".format(lang_name,created_by,annual_avg_sal,learning))

Language--->Created By--->Average Annual Salary--->Learning Difficulty
Python--->Guido van Rossum--->$114,383--->Easy
Java--->James Gosling--->$101,013--->Easy
R--->Robert Gentleman, Ross Ihaka--->$92,037--->Hard
Javascript--->Netscape--->$110,981--->Easy
Swift--->Apple--->$130,801--->Easy
C++--->Bjarne Stroustrup--->$113,865--->Hard
C#--->Microsoft--->$88,726--->Hard
PHP--->Rasmus Lerdorf--->$84,727--->Easy
SQL--->Donald D. Chamberlin, Raymond F. Boyce.--->$84,793--->Easy
Go--->Robert Griesemer, Ken Thompson, Rob Pike.--->$94,082--->Difficult

In [10]:
import pandas as pd
table = soup.find('table')
table_rows = table.find_all('tr')
l = []
for tr in table_rows:
    td = tr.find_all('td')
    row = [tr.text for tr in td]
    l.append(row)
df=pd.DataFrame(l, columns=["No.","Language","Created By","Average Annual Salary","Learning Difficulty"])
df.drop(df.head(1).index, inplace=True)
df

,No.,Language,Created By,Average Annual Salary,Learning Difficulty
1,1,Python,Guido van Rossum,"$114,383",Easy
2,2,Java,James Gosling,"$101,013",Easy
3,3,R,"Robert Gentleman, Ross Ihaka","$92,037",Hard
4,4,Javascript,Netscape,"$110,981",Easy
5,5,Swift,Apple,"$130,801",Easy
6,6,C++,Bjarne Stroustrup,"$113,865",Hard
7,7,C#,Microsoft,"$88,726",Hard
8,8,PHP,Rasmus Lerdorf,"$84,727",Easy
9,9,SQL,"Donald D. Chamberlin, Raymond F. Boyce.","$84,793",Easy
10,10,Go,"Robert Griesemer, Ken Thompson, Rob Pike.","$94,082",Difficult

In [ ]:
import pandas as pd
df.to_csv('popular-language.csv')